# Environments & Database
venv/
.env
db.sqlite3
data/
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# C++ Build
cpp/build/
*.o
*.out

# Media & OS
media/
.DS_Store